

/* HEADER CSS */
#header{
    justify-content: center;
    display: flex;
    background-color: #1f1f1f;
    height: 60px;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

#header nav {
    background-color: #1f1f1f;
    height: 100%;
}

#nav {

}

#nav ul {
    height: 100%;
    text-align: center;
}

#nav ul li {
    display: inline-block;
    margin-top: 16px;
}

#nav ul li a {
    margin-left: 8px;
    color: white;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#nav a:hover {
    color:#1a1a1b;
    background-color:#45719C;
    border-radius: 10px;
}
#nav a:active {
    color: #000000;
    background-color:#ffffff;
    border-radius: 40px;
}
/* MAIN CSS */
#main{
    flex-direction: column;
display: flex;
}

#body{
    display: flex;
    max-width: 1400px;
}
/* Titulo*/
.titulo{
    justify-content: center;
    background-color: #f3f1f1;
}

.titulo h1 {
    padding-top: 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color:#1a1a1b;
}

.titulo h2 {
    margin-top: 5px;
    text-align: center;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color:#45719C;
}
/* Quienes Somos Index */
.quienesSomosText {
    background-color: #45719C;
    }
.tituloQuienesSomos{
    background-color: #1a1a1b;;
    font-size: 36px;
    text-align: center;
    padding-bottom: 4px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.quienesSomosText p{
    text-align: center;
    font-size: 20px;
    margin: 10px 300px 10px 300px;
    color: rgb(247, 240, 240);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .imgQuienesSomosText{
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    .imgQuienesSomosText img{
        height: 250px;
        width: 500px; 
        border-radius: 20px;
        }

/* Oficina Index */
.OficinaText {
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-color: #000000d5;
    }
.tituloOficina{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:#ffffff;
    font-size: 36px;
    text-align: center;
    padding-bottom: 4px;

    color: rgba(8, 8, 8, 0.89);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.OficinaText p{
    text-align: center;
    font-size: 20px;
    margin: 10px 300px 10px 300px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .imgOficinaText {
        margin-bottom: 5px;
display: flex;
justify-content: center;
    }
    .imgOficinaText img{
        height: 250px;
        width: 500px; 
        border-radius: 20px;
    }

        /* FOOTER CSS */

        #footer{
            display: flex;
            background-color: #45719C;
            height: auto;
            width: 100% ;
        }
        .footerMidText{ 
            text-align: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }
        .footerMidText h2{
            color: #ffffff; 
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
        }
        .footerMidTitulo{
            margin-top: 12px;
        }
        .logoFooter {
            margin-top: 5px;
            justify-content: center;
        }
        .logoFooter img {
            width: 100px;
            border-radius: 100%;
        }
        .footerLinks{
            margin-top: 12px;
            text-align: center;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
        }
        .footerLinks h2{
            color: #ffffff; 
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
        }
        .footerLinks a{
            font-size: 14px;
            color: rgb(48, 45, 45);
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
        }


        .footerNuestrasRedes {
            margin-top: 12px;
            justify-content: center;
            text-align:  center;
            width: 100%;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
        }
        .footerNuestrasRedes i {
            font-size: 30px;
            color: white;
        }
        .footerNuestrasRedes i:hover {
            color:#1a1a1b;
        }
        .footerNuestrasRedes h2 {
        
            color: white;
        }
        .footerNuestrasRedes p {
            padding-top: 0px;
            margin-bottom: 5px;
            color: rgb(48, 45, 45); ;
        }

        .footerLinks a:hover {
            background-color: #e7e8e9;
            border-radius: 5px;
        }


/* Nosotros page*/

.fundadorText {
    background-color: #45719C;
    }
.tituloFundador{
    background-color: #000000e7;
    font-size: 36px;
    text-align: center;
    padding-bottom: 4px;
    margin:14px 740px 0px 740px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.fundadorText p{
    font-size: 20px;
    padding: 20px 0px 0px 15px;
    margin: 0px 300px 0px 300px;
    color: rgb(247, 240, 240);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .fundadorText img{
        margin: 20px 400px 16px 740px;
        border-radius: 40px;
        height: 300px;
        }


.equipoText {
    background-color: #000000d5;
    display: inline-block;
    }
.tituloEquipo{
    background-color:#ffffff;
    font-size: 36px;
    text-align: center;
    padding-bottom: 4px;
    margin:0px 740px 0px 740px;
    color: rgba(8, 8, 8, 0.89);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.equipoText p{
    font-size: 20px;
    padding: 20px 0px 0px 15px;
    margin: 0px 300px 10px 300px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
.imagenesEmpleados{
    gap: 2rem;
    background-color: #000000d5;
    display: flex;
    justify-content: center;
}    

.imagenesEmpleados div h3{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 5px;
text-align: center;
}  
.imagenesEmpleados img{
    width: 250px;
height: 250px;
margin-bottom: 10px;
border-radius: 40px;
}   

/*Pagina Oficina*/

.ubicacionText {
    background-color: #45719C;
    }
.tituloUbicacion{
    background-color: #000000e7;
    font-size: 36px;
    text-align: center;
    padding-bottom: 4px;
    margin:14px 740px 0px 740px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.ubicacionText p{
    font-size: 20px;
    padding: 20px 0px 0px 15px;
    margin: 0px 300px 0px 300px;
    color: rgb(247, 240, 240);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .ubicacionText iframe{
        margin: 20px 400px 16px 590px;
        border-radius: 40px;
        height: 300px;
        }

.tallerText {
    background-color: #000000d5;
    display: inline-block;
    }
.tituloTaller{
    background-color:#ffffff;
    font-size: 36px;
    text-align: center;
    padding-bottom: 4px;
    margin:0px 740px 0px 740px;
    color: rgba(8, 8, 8, 0.89);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.tallerText p{
    font-size: 20px;
    padding: 20px 0px 0px 15px;
    margin: 0px 300px 10px 300px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.tallerText img{
        margin: 20px 400px 16px 705px;
        border-radius: 40px;
        height: 300px;
        }
    

/*Pagina Servicios*/

.reparacionText {
    background-color: #45719C;
    }
.tituloReparacion{
    background-color: #000000e7;
    font-size: 36px;
    text-align: center;
    padding-bottom: 4px;
    margin:14px 740px 0px 700px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.reparacionText p{
    font-size: 20px;
    padding: 20px 0px 0px 15px;
    margin: 0px 300px 0px 300px;
    color: rgb(247, 240, 240);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .reparacionText img{
        margin: 20px 400px 16px 590px;
        border-radius: 40px;
        height: 300px;
        }

.computadorasText {
    background-color: #000000d5;
    display: inline-block;
    }
.tituloComputadoras{
    background-color:#ffffff;
    font-size: 36px;
    text-align: center;
    padding-bottom: 4px;
    margin:0px 740px 0px 700px;
    color: rgba(8, 8, 8, 0.89);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.computadorasText p{
    font-size: 20px;
    padding: 20px 0px 0px 15px;
    margin: 0px 300px 10px 300px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.computadorasText img{
        margin: 20px 400px 16px 705px;
        border-radius: 40px;
        height: 300px;
        }
    
/*Pagina Contacto*/

.contactoText {
    padding-top:50px ;
    padding-bottom: 100px;
    background-color: #000000d5;
    display: inline-block;
    width: 100%;
    }
.tituloContacto{
    background-color:#45719C;
    font-size: 36px;
    text-align: center;
    padding-bottom: 4px;
    margin:0px 740px 0px 760px;
    color: rgba(253, 253, 253, 0.89);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.contactoText form{
    font-size: 20px;
    padding: 20px 0px 0px 15px;
    margin: 0px 700px 10px 700px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

.nombreForm {
    text-align: center;
}
.nombreForm input {
    font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
    color: #000000;
    border-color:#45719C;
    border-radius: 6px;
    width: 200px;
    height: 22px;
}


.emailForm {
    text-align: center;
}
.emailForm input {
    font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
    color: #000000;
    border-color:#45719C;
    border-radius: 6px;
    width: 200px;
    height: 22px;
}

.mensajeForm {
text-align: center;
}
.mensajeForm textarea {
    font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
    color: #000000;
    border-color:#45719C;
    border-radius: 6px;
    width: 400px;
    height: 200px;
}
.botonForm{
text-align: center;
}
.botonForm input {
    font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
    color: #e7e8e9;
    border-color: white;
    border-radius: 40px;
    background-color:#45719C;
    height: 40px;
    width: 100px;
    text-align: center;
    }


    /*paginas GRIDSS*/
